<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jumia Search</title>
    <link rel="icon" th:href="@{/jumiaLogo.png}" type="image/x-icon" >
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src=" https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/data-tables.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Jumia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="container py-5">
        <form th:action="@{/jumia/search}" th:object="${customSearchDto}" method="POST">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <label class="text-white mb-3 lead"  style="font-weight: bolder">Search By Country</label>

                    <select data-style="bg-white rounded-pill px-4 py-3 shadow-sm " class="form-select" th:field="*{countryName}">
                        <option value="null"></option>
                        <option th:each="country : ${countries}"  th:value="${country}" th:text="${country}"></option>
                    </select>
                </div>
                <div class="col-lg-6 mx-auto">
                    <label class="text-white mb-3 lead" style="font-weight: bolder">Search By Status</label>
                    <select data-style="bg-white rounded-pill px-4 py-3 shadow-sm " class="form-select" th:field="*{status}">
                        <option value="null"></option>
                        <option value="Valid">Valid</option>
                        <option value="Not valid">Not Valid</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-block" style="margin: 20px 510px ">Search</button>
            </div>
        </form>

        <div class="row py-5">
            <div class="col-lg-10 mx-auto">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-5 bg-white rounded">
                        <div class="table-responsive">
                            <table id="tblResult" style="width:100%" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Customer Name</th>
                                    <th>Country</th>
                                    <th>Country Code</th>
                                    <th>Phone Number</th>
                                    <th>Phone Number Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="result: ${searchResultList}">
                                    <td th:text="${result.customerName}"/>
                                    <td th:text="${result.getCountry}"/>
                                    <td th:text="${result.countryCode}"/>
                                    <td th:text="${result.phoneNumber}"/>
                                    <td th:text="${result.phoneStatus}"/>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $(document).ready(function() {
            $('#tblResult').DataTable();
        });
    });
</script>
</body>


</html>

